.div-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10px;
  margin-top: 30px;
  margin-bottom: 0;
}

.div-logo{
  margin-left: 50px;
  margin-bottom: 0px;
}

.logo{
  width: 200px;
  height: 200px;
  margin-top: 0;
}

.list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  margin-right: 50px;
  font-weight: 900;
  font-size: 20px;
}

.redir {
  margin-left: 25px;
}