@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");

.div-stacks {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F7F7F7;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.wrapper-stacks {
  max-width: 630px;
  position: relative;
}

.wrapper-stacks i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #a8a8a8;
  height: 46px;
  width: 46px;
  border-radius: 50%;
  text-align: center;
  line-height: 46px;
  font-size: 1.4rem;
}

.wrapper-stacks i:first-child {
  left: -60px;
  display: none;
}

.wrapper-stacks i:last-child {
  right: -60px;
}

.wrapper-stacks .carousel {
  white-space: nowrap;
  font-size: 0px;
  overflow: hidden;
  max-width: 650px;
  scroll-behavior: smooth;
  cursor: grab;
  cursor: -webkit-grab;
}

.carousel.dragging {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  scroll-behavior: auto;
}

.carousel.dragging img {
  pointer-events: none;
}

.carousel img {
  height: 160px;
  width: auto;
  margin-left: 5rem;
  user-select: none;
}

.carousel img:first-child {
  margin-left: 0px;
}

.carousel {
  display: flex;
}

.descricao {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F7F7F7;
  width: 160px;
  font-size: 20px;
}

figure {
  margin-right: 0;
  margin-left: 5rem;
}

figure:first-child {
  margin-left: 0;
}