.div-sobre {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.div-text-sobre {
  width: 540px;
  margin-left: 8rem;
  font-size: 20px;
  margin-top: 0;
  line-height: 29px;
}

.div-text-sobre h1 {
  margin-bottom: 40px;
}

.div-image-sobre {
  width: auto;
  height: 90%;
  overflow: hidden;
  position: relative;
  border: 10px double transparent;
  box-shadow: 0 0 0 2px #000, 0 0 0 4px white;
  margin-top: 6rem;
}

.div-image-sobre img {
  width: 400px;
  height: auto;
}

@media (max-width: 1200px) {
  .div-sobre {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 8%;
  }

  .div-image-sobre {
    display: none;
  }

  .div-text-sobre {
    width: 80%;
    margin-left: 0;
    font-size: 20px;
    line-height: 29px;
  }

  .div-text-sobre h1 {
    text-align: center;
  }

  .div-text-sobre p:last-child {
    display: none;
  }

  #mobile-off {
    display: none;
  }
}